# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
AddKeysToAgent yes
ForwardAgent yes

Host greynir
    HostName greynir.is
    User haukurpj

Host pallas
    hostname 144.76.220.164
    user haukurpj

Host birta
    hostname 94.130.19.115
    user haukurpj

Host luna
    hostname 95.217.41.179
    user haukurpj

Host maja
    hostname 94.130.38.213
    user haukurpj

Host ada
    hostname ada.mideind.is
    user haukurpj
