[Desktop Entry]
Version=1.0
Type=Application
Exec=/home/haukurpj/.local/Roam-linux-x64/Roam
Name=Roam
Comment=Roam note-taking tool for networked thought.
Icon=/home/haukurpj/.local/Roam-linux-x64/resources/app/icon.png
